.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
  text-align: center;
}

.post-card {
  margin: 30px auto;
  width: 85%;
}
.post-detail {
    margin: 10px auto;
    width: 87.25%;
}