.App-header {
  background-color: #222;
  height: 65px;
  padding: 20px;
  color: white;
  text-align: center;
}

.post-card {
  margin: 10px auto;
  width: 75%;
}
.post-detail {
    margin: 10px auto;
    width: 80%;
}